
form.mfp-hide(id="form", action="")
	span.input-group
		label.req First Name
		input(type="text", name="first-name", placeholder="")
	span.input-group
		label.req Last Name
		input(type="text", name="last-name", placeholder="")
	label.req Email Address
	input(type="email", name="email", placeholder="")
	label Company or School
	input(type="text", name="company", placeholder="")
	label Title
	input(type="text", name="title", placeholder="")
	label Comments
	textarea(name="comments", cols="30", rows="10")
	input(type="submit", value="Submit")
	#note