
/*==========  Desktop First Method  ==========*/
/* Medium Devices, Desktops */
@media only screen and (max-width : 1650px)
	.wrapper
		font-size: 33px
	.container
		width: 1375px
@media only screen and (max-width : 1500px)
	.wrapper
		font-size: 31px
	.container
		width: 1250px
@media only screen and (max-width : 1200px)
	.container
		width: 1000px
	.wrapper
		font-size: 24px
@media only screen and (max-width : 1000px)
	.container
		width: 833px
	.wrapper
		font-size: 20px
@media only screen and (max-width : 820px)
	.container
		width: 683px
	.wrapper
		font-size: 16px

@media only screen and (max-width : 660px)
	.container
		width: 100%
	.wrapper
		font-size: 13px
	.header
		text-align: center
	.content
		background: url('../img/content-bg-mobile.jpg') no-repeat bottom
	.landing-content
		margin: auto
	.footer
		text-align: center
	.footer-link
		font-size: 1em
		padding: 0.8em 2em
	.footer-copy
		font-size: 0.8em
		padding: 0 2em 0.8em

@media only screen and (max-width : 540px)
	.wrapper
		font-size: 12px
	.header
		font-size: 10px
	form
		width: 19em
		padding: 1.2em 1em 1em
		.input-group
			display: block
			padding: 0
			width: 100%

@media only screen and (max-width : 440px)
	.header
		font-size: 8px
		text-align: center
		.logo2
			margin: 0 2em

