section.content
	.container
		.landing-content
			.join-wrap
				.join
					h2.join-text Join our webinar
					p.join-date april 19 // 6:00 &amp; 15:00 gmt
					a.join-sign(href="") <b>Sign</b> me up
			h1.title How to turn your existing content into interactive digital assets
			h3.discr Enrich easily and distribute<br> in various ways
			ul.social-wrap
				li.social-item
					a.social-link(href="")
						+icon('yt')
				li.social-item
					a.social-link(href="")
						+icon('tw')
				li.social-item
					a.social-link(href="")
						+icon('in')
				li.social-item
					a.social-link(href="")
						+icon('fb')