extends ../blocks/layout

block head
	- var pageTitle = 'landing page';

block content
	.wrapper
		include ../blocks/header/header
		include ../blocks/content/content
		include ../blocks/footer/footer

